<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.bs.dao.ProjectDao">
	<insert id="add"
		parameterType="cn.bs.entity.Project">
		insert into projects
(uid,checkId,authorizedId,majorType,pName,pType,unitName,contacts,cPhone,status) 
values
(#{uid},#{checkId},#{authorizedId},#{majorType},#{pName},#{pType},#{unitName},#{contacts},#{cPhone},#{status})
	</insert>
	<delete id="delete" parameterType="int">
	    delete 
	    	from projects 
	    where 
	    	pid = #{pid}
	</delete>
	
	<update id="update" parameterType="cn.bs.entity.Project">
	    update  projects 
    	<set>
    		<if test="uid != null">uid = #{uid},</if>
    		<if test="checkId != null">checkId = #{checkId},</if>
    		<if test="authorizedId != null">authorizedId = #{authorizedId},</if>
    		<if test="majorType != null">majorType = #{majorType},</if>
    		<if test="pName != null">pName = #{pName},</if>
    		<if test="pType != null">pType = #{pType},</if>
    		<if test="cPhone != null">cPhone = #{cPhone},</if>
    		<if test="status != null">status = #{status},</if>
    		<if test="contacts != null">contacts = #{contacts},</if>
    		<if test="unitName != null">unitName = #{unitName},</if>
    		<if test="blueprint != null">blueprint = #{blueprint},</if>
    		<if test="advise != null">advise = #{advise},</if>
    		<if test="result != null">result = #{result},</if>
    		<if test="uName != null">uName = #{uName},</if>
    		<if test="checkName != null">checkName = #{checkName},</if>
    		<if test="authorizedName != null">authorizedName = #{authorizedName}</if>
    	</set>
    		where pid=#{pid}
	</update>
	
	<select id="search"	
		parameterType="int"
		resultType="cn.bs.entity.Project">
		select *
			from
		projects
			where
		pid = #{pid}
	</select>
	
	<select id="findProjects"	
		resultType="cn.bs.entity.Project">
		select * from projects
	</select>
	<select id="findProjectsByStatus"
		parameterType="int"
		resultType="cn.bs.entity.Project">
		select * from projects where status = #{status}
	</select>
	
	
	<select id="statistics"
		resultType="cn.bs.entity.Result">
		select count(*) as count,status from projects group by status
	</select>
	
	<select id="findProjectsForAdmin"
		resultType="cn.bs.entity.Result">
		select count(*) as count,status from projects
	</select>
	
	<select id="findProjectsForUser"
		parameterType="int"
		resultType="cn.bs.entity.Result">
		select count(*) as count,status from projects where (uid=#{id} or checkid=#{id} or authorizedId=#{id}) group by status
	</select>
	
	<select id="getTotal"
		parameterType="int"
		resultType="cn.bs.entity.Result">
		select count(*),status from projects where (uid=#{id} or checkid=#{id} or authorizedId=#{id})group by status
	</select>
	<select id="viewProject"
		parameterType="int"
		resultType="cn.bs.entity.Project">
		select * from projects where (uid=#{id} or checkid=#{id} or authorizedId=#{id})group by status
	</select>
</mapper>
